---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SpaceX">
	<section class="section-a" id="section-a">
		<div class="section-inner">
			<h4>Upcoming Launch</h4>
			<h2>CRS-25 Mission</h2>
			<a href="https://www.spacex.com/launches/crs-25/" class="btn">
				<div class="hover"></div>
				<span>Rewatch</span>
			</a>
		</div>

		<button class="scroll-arrow" onclick="scrollPage(this)" id="arrow-a">
			<svg width="30px" height="20px">
				<path
					stroke="#ffffff"
					fill="none"
					stroke-width="2px"
					d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
			</svg>
		</button>
	</section>

	<section class="section-b" id="section-b">
		<div class="section-inner">
			<h4>Recent Launch</h4>
			<h2>Starlink Mission</h2>
			<a href="https://www.spacex.com/launches/sl4-23/" class="btn">
				<div class="hover"></div>
				<span>Rewatch</span>
			</a>
		</div>

		<button class="scroll-arrow" onclick="scrollPage(this)" id="arrow-b">
			<svg width="30px" height="20px">
				<path
					stroke="#ffffff"
					fill="none"
					stroke-width="2px"
					d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
			</svg>
		</button>
	</section>

	<section class="section-c" id="section-c">
		<div class="section-inner">
			<h4>Recent Mission</h4>
			<h2>SES-22 Mission</h2>
			<a href="https://www.spacex.com/launches/ses-22/" class="btn">
				<div class="hover"></div>
				<span>Rewatch</span>
			</a>
		</div>

		<button class="scroll-arrow" onclick="scrollPage(this)" id="arrow-c">
			<svg width="30px" height="20px">
				<path
					stroke="#ffffff"
					fill="none"
					stroke-width="2px"
					d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
			</svg>
		</button>
	</section>

	<section class="section-d" id="section-d">
		<div class="section-inner">
			<h4>Recent Launch</h4>
			<h2>Globalstar FM15 Mission</h2>
			<a href="https://www.spacex.com/launches/globalstar/" class="btn">
				<div class="hover"></div>
				<span>Rewatch</span>
			</a>
		</div>

		<button class="scroll-arrow" onclick="scrollPage(this)" id="arrow-d">
			<svg width="30px" height="20px">
				<path
					stroke="#ffffff"
					fill="none"
					stroke-width="2px"
					d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
			</svg>
		</button>
	</section>

	<section class="section-e" id="section-e">
		<div class="section-inner">
			<h2>Starship Update</h2>
			<a href="https://www.spacex.com/vehicles/starship/" class="btn">
				<div class="hover"></div>
				<span>Rewatch</span>
			</a>
		</div>

		<button class="scroll-arrow" onclick="scrollPage(this)" id="arrow-e">
			<svg width="30px" height="20px">
				<path
					stroke="#ffffff"
					fill="none"
					stroke-width="2px"
					d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
			</svg>
		</button>
	</section>

	<section class="section-f" id="section-f">
		<div class="section-inner">
			<h2>Starship to land nasa astronauts on the moon</h2>
			<a href="https://www.youtube.com/watch?v=U5_etd3l41g" class="btn">
				<div class="hover"></div>
				<span>Rewatch</span>
			</a>
		</div>

		<button class="scroll-arrow" onclick="scrollPage(this)" id="arrow-f">
			<svg width="30px" height="20px">
				<path
					stroke="#ffffff"
					fill="none"
					stroke-width="2px"
					d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
			</svg>
		</button>
	</section>
</Layout>

<style>

</style>
